<h2>Quizzy Quiz</h2>


<form action="/" class="quest-form">
  <h3>Add a Quiz!</h3>
  <input type="text" placeholder="Enter Question" class="quest-value">
  <input type="submit" class="quest-submit">
</form>

<div class="quizzes-display">
</div>

<div class="question-display">
</div>

<script type="text/template" class="quiz-template">
  <h1>Here are the quizzes</h1>
  <ul>
    <%% _.each(quizzes, function(quiz) { %>
      <li class="quiz" data-id="<%%= quiz.id %>"><%%= quiz.title %></li>
    <%% }); %>
  </ul>
</script>

<script type="text/template" class="quiz-questions-template">
  <h3><%%= questions.question %></h3><br>
   <form>
      <select class="quest-option">
      <%% _.each(questions.choices,function(x) { %>
          <option value="<%%= x %>"><%%= x %></option>
      <%% }); %> 
      <input type="submit" class="quest-submit">   
      </select>
   </form>
</script>

<script type="text/template" class="quiz-edit-template">
  <a href="" data-id="<%%= questions.id %>" class="quiz-inspect"><p>Take Quiz</p></a>
  <a href="" data-id="<%%= questions.id %>" class="quiz-edit"><p>Edit Quiz</p></a>
</script>

<script type="text/template" class="edit-template">
  <form>
    <h3>Add Question/Answer</h3>
    <input type="text" data-id="<%%= questions.id %>" class="add-quest" placeholder="Enter Question"><br>
    <input type="radio" name="ans" class="add-ans" value="True">True<br>
    <input type="radio" name="ans" class="add-ans" value="False">False<br>
    <input type="submit" class="add-submit">
  </form>
</script>





