<h2>Quizzy Quiz</h2>


<form action="/" class="quest-form">
  <h3>Add a Quiz!</h3>
  <input type="text" placeholder="Enter Question" class="quest-value">
  <input type="submit" class="quest-submit">
</form>

<div class="quizzes-display">
</div>

<div class="question-display">
</div>

<script type="text/template" class="quiz-template">
  <a href="#" data-id="<%%= content.id %>" class="quiz-inspect"><p><%%= content.title %></p></a>
</script>

<script type="text/template" class="quiz-questions-template">
  <h3><%%= content.question %></h3><br>
   <form>
      <select class="quest-option">
      <%% _.each(content.choices,function(x) { %>
          <option value="<%%= x %>"><%%= x %></option>
      <%% }); %> 
      <input type="submit" class="quest-submit">   
      </select>
   </form>
</script>