<h2>Quizzy Quiz</h2>

<form action="" class="add-name">
  <div class="name-add">
    <h3>Enter Name to Keep Track of High Scores!</h3>
    <input type="text" class="name-input" placeholder="Enter Name">
    <input type="submit" class="name-submit">
  </div>
  <div class="name-show">
    <p>Welcome, <span class="name"></span>!<a href="" class="quit">Sign Out</a>
  </div>
</form>

<form action="/" class="quest-form">
  <h3>Add a Quiz!</h3>
  <input type="text" placeholder="Enter Question" class="quest-value">
  <input type="submit" class="quest-submit">
</form>



<div class="quizzes-display">
</div>

<div class="question-display">
</div>

<script type="text/template" class="quiz-template">

  <h1>Here are the quizzes</h1>
  <ul>
    <%% _.each(quizzes, function(quiz) { %>
      <li class="quiz" data-id="<%%= quiz.id %>"><%%= quiz.title %></li>
    <%% }); %>
  </ul>
</script>

<script type="text/template" class="quiz-questions-template">
  <h3><%%= questions.question %></h3><br>

  <%% if (questions.question_type == "blank") { %>
    <form>
      <input type="text" class="quest-option">
      <input type="submit" class="quest-submit">
    </form>  
  <%% } else { %>
    <form>
      <select class="quest-option">
      <%% _.each(questions.choices,function(x) { %>
          <option value="<%%= x %>"><%%= x %></option>
      <%% }); %> 
      <input type="submit" class="quest-submit">   
      </select>
    </form>
  <%% } %>  

</script>

<script type="text/template" class="quiz-edit-template">
  <a href="" class="quiz-inspect"><p>Take Quiz</p></a>
  <a href="" class="question-add"><p>Add Question</p></a>
  <a href="" class="quiz-edit"><p>Edit Quiz</p></a>
  <a href="" class="quiz-delete"><p>Delete Quiz</p></a>
  <a href="" class="score-check"><p>Check High Scores</p></a>
</script>

<script type="text/template" class="add-template">
  
    <h3>Add Question/Answer</h3>
  <form>
    <h4>Multiple Choice Question</h4>
    <input type="text" data-id="<%%= questions.id %>" class="mult-quest" placeholder="Enter Question"><br>
    <input type="text" class="mult-ans" placeholder="Enter Answer"><br>
    <input type="text" class="mult-choice" placeholder="Enter Choices"><-Enter Choices With no space separated by a semi-colon<br>
    <input type="submit" class="add-submit"> 
  </form><br>  
  <form> 
    <h4>True/False Question</h4> 
    <input type="text" data-id="<%%= questions.id %>" class="add-quest" placeholder="Enter Question"><br>
    <input type="radio" name="ans" class="add-ans" value="true">True<br>
    <input type="radio" name="ans" class="add-ans" value="false">False<br>
    <input type="submit" class="add-submit">
  </form><br>
  <form>
    <h4>Blank Question</h4>
    <input type="text" data-id="<%%= questions.id %>" class="blank-quest" placeholder="Enter Question"><br>
    <input type="text" data-id="<%%= questions.id %>" class="blank-ans" placeholder="Enter Answer"><br>
    <input type="submit" class="add-submit">
  </form>
</script>

<script type="text/template" class="score-template">
  <h2>High Scores</h2>
  <ol>
    <%% _.each(scores,function(score) { %>
      <li><%%= score.user %>: <%%= score.score %></li>
    <%% }) %>
  </ol>
</script>

<script type="text/template" class="edit-template">
<h3>Edit Quiz</h3>
  <form>
    <h4>Quiz Title</h4>
    <input type="text" value="<%%= quiz.title %>" class="quiz-title">
    <input type="submit" class="quiz-edit-submit">
  </form>  
  <form>
    <h4>Questions</h4>
    <%% _.each(questions,function(question) { %>
      <%% if (question.question_type == "blank") { %>
        Question <%%= question.id %>: <input type="text" data-id="<%%= question.id %>" value="<%%= question.question %>" class="question-question"><br>
        Answer: <input type="text" value="<%%= question.answer %>" class="question-ans"><br>
      <%% } else { %>
        Question <%%= question.id %>: <input type="text" data-id="<%%= question.id %>" value="<%%= question.question %>" class="question-question"><br>
        Answer: <input type="text" value="<%%= question.answer %>" class="question-ans"><br>
        <%% var i = 0; %>
        <%% _.each(question.choices,function(choice) { %>
          Choice: <input type="text" data-choice="<%%= i %>" value="<%%= choice %>" class="question-choice"><br>
          <%% i++; %>
        <%% }); %>
      <%% } %> 
        <input type="submit" data-id="<%%= question.id %>" class="quest-edit-delete" value="Delete Question"><br>
    <%% }); %>

    <input type="submit" class="quest-edit-submit">
  </form>

</script>


